*{
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;
}
#header{
	height:160px;
	width:1000px;
	margin: 0 auto;

}
#header .logo{
	margin-top: 41px;
	margin-left: 21px;
	float: left;

}
#header .search{
	height:28px;
	width:227px;
	margin-top: 39px;
	margin-right: 20px;
	float:right;

}
#header .list{
	background-color: #323232;
	border-left: 59px;

}


#header .list ul{
	margin-top: 37px;
	height: 58px;


}
#header .list li{
	list-style: none;
	width:122px;
	text-align:center;
	height: 58px;
	line-height: 58px;
	font-size: 14px;
	float:left;
	color: #fff;
	border-right: 1px solid #4a4a4a;
	margin-left: 1px;

	
}
#header .list .list-8{
	border:none;
}

#banner{height:464px;
	width:998px;
	margin: 0 auto;
}

#container{
	height:545px;
	width:1000px;
	margin: 0 auto;
}

#container .c-top{
	height:271px;
	width:1000px;

}
#container .c-top-left{
	height:271px;
	width:500px;
	margin: 0 auto;
	float:left;

}
#container .c-top-left .c-top-left-h{
	margin-top: 37px;
	margin-left: 22px;
	font-size: 19px;
}

#container .c-top-left ul{
	margin-top: 29px;
	height: 132px;
	float:left;

}

#container .c-top-left li{
	margin-left: 34px;
	font-size: 12px;
	line-height: 20px;

}

#container .c-top-left .l1 {
	float: right;
	list-style: none;
	height: 132px;
	margin-top: 29px;

}
#container .c-top-left .l1 li{
    line-height: 20px;
	margin-right: 26px;
	color: #bdbdbd;

}

#container .c-top-center{
	height:271px;
	width:242px;
	background-color: #f1f1f1;
	margin: 0 auto;
	float:left;

}

#container .c-top-center .c-top-center-h{
	margin-top: 37px;
	margin-left: 22px;
	font-size: 19px;
}

#container .c-top-center .p1{
	margin-top: 39px;
	font-size: 13px;
	margin-left: 25px;
	width: 110px;

}

#container .c-top-center .p2{
	padding: 26px;
	font-size: 12px;
	width: 180px;
	color: #a2a2a2;
}

#container .c-top-right{
	height:271px;
	width:258px;
	margin: 0 auto;
	float:left;
	background-color: #fbfbfb;

}
#container .c-top-right .c-top-right-h{
	margin-top: 37px;
	margin-left: 22px;
	font-size: 19px;
}

#container .c-top-right .p3{
	margin-top: 25px;
	font-size: 13px;
	margin-left: 25px;
	width: 192px;

}

#container .c-top-right .i1{
	margin-top: 57px;
	margin-left: 25px;

}

#container .c-top-right .i2{
	margin-top: 5px;
	margin-right: 16px;
 float: right;
	
}

#container .c-bottom{
	height:274px;
	width:1000px;
}

#container .c-bottom .c-bottom-h{
	margin-left: 23px;
	font-size: 19px;
}

#container .c-bottom .piclist{
	height: 188px;
	width: 970px;
	margin-top: 17px;
	margin-left: 20px;
}

#container .c-bottom .piclist .k1{
	width: 212px;
	float:left;

}

#container .c-bottom .piclist .k1 p{
	margin-top: 17px;
	font-size: 12px;
	color: #676767;

}


#container .c-bottom .piclist .k2{
	width: 212px;
	float:left;
	margin-left:39px;

}

#container .c-bottom .piclist .k2 p{
	margin-top: 17px;
	font-size: 12px;
	color: #676767;

}

#container .c-bottom .piclist .k3{
	width: 212px;
	float:left;
	margin-left:39px;

}
#container .c-bottom .piclist .k3 p{
	margin-top: 17px;
	font-size: 12px;
	color: #676767;

}

#container .c-bottom .piclist .k4{
	width: 212px;
	float:left;
	margin-left:39px;

}
#container .c-bottom .piclist .k4 p{
	margin-top: 17px;
	font-size: 12px;
	color: #676767;

}

#footer{
	height:331px;
	width:1000px;
	margin: 0 auto;
}

#footer .f-top{
    height:250px;
	width:1000px;
	background-color: #e5e5e5;
	

}

#footer .f-top .f-top-left{
	height:250px;
	width:521px;
	float: left;
}

#footer .f-top .f-top-left .f-top-left-h{
	margin-top: 30px;
	margin-left: 32px;
	font-size: 15px;
	border-bottom: 1px solid #c3c3c3;
	padding: 12px;
	width: 424px;

}

#footer .f-top .f-top-left .lists1 ul{
    float: left;
	list-style: none;
	height: 110px;
	margin-top: 19px;
	width:153px;
	margin-left: 25px;
	font-size: 11px;

}

#footer .f-top .f-top-left .lists1 li{
	color: #5b5b5b;
} 

#footer .f-top .f-top-left .lists2 ul{
    float: left;
	list-style: none;
	height: 110px;
	margin-top: 19px;
	width:190px;
font-size: 11px;

}

#footer .f-top .f-top-left .lists2 li{
	
	color: #5b5b5b;
}

#footer .f-top .f-top-left .lists3 ul{
    float: left;
	list-style: none;
	height: 110px;
	margin-top: 19px;
font-size: 11px;
}

#footer .f-top .f-top-left .lists3 li{
	
	color: #5b5b5b;
}


#footer .f-top .f-top-center{
	height:250px;
	width:201px;
	float: left;
}

#footer .f-top .f-top-center .f-top-center-h{
	margin-top: 30px;
	font-size: 15px;
	border-bottom: 1px solid #c3c3c3;
	padding: 12px;
	width: 153px;
}

#footer .f-top .f-top-center ul{
    float: left;
	list-style: none;
	height: 110px;
	margin-top: 19px;
font-size: 11px;
}

#footer .f-top .f-top-center li{
	
	color: #5b5b5b;
}

#footer .f-top .f-top-right{
	height:250px;
	width:265px;
	float: left;
}


#footer .f-top .f-top-right .f-top-right-h{
	margin-top: 30px;
	font-size: 15px;
	border-bottom: 1px solid #c3c3c3;
	padding: 12px;
	width: 220px;
}

#footer .f-top .f-top-right img{
	margin-left: 30px;
	margin-top: 14px;
}

#footer .f-bottom{
    height:81px;
	width:1000px;
	

}

#footer .f-bottom ul{
	margin-top: 23px;
	height: 12px;
	width: 300px;
	float: left;

}
#footer .f-bottom li{
	list-style: none;
	width:52px;
	text-align:center;
	height: 16px;
	line-height: 16px;
	font-size: 11px;
	float:left;
	color: #8a8a8a;
	border-right: 1px solid #8a8a8a;

	

}

#footer .f-bottom .ss{
	border:none;
	width: 74px;
}

#footer .f-bottom img{
	margin-top: 23px;
	margin-left: 90px;
	float: left;
}













